/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mytheme-hero {
	box-sizing: border-box;
	font-family: sans-serif;
	background-size: cover;
	padding: 50px;
	margin-left: calc(50% - 50vw)!important;
	margin-right: calc(50% - 50vw)!important;
}

.wp-block-mytheme-hero h2{
	font-weight: bold;
	color: inherit;
	font-size: 2rem;
}

.container {
	max-width: 980px;
	padding: 0 20px;
	margin: 0 auto;
}